<%= turbo_frame_tag @application do %>
  <div class="application-card" style="position: relative; margin-bottom: 20px; padding: 15px; border: 1px solid #eee; border-radius: 8px;">

    <!-- 編輯與刪除 icon -->
    <div class="card-actions">
      <%= link_to applications_path  do %>
        <i class="fas fa-times fa-lg"></i>
      <% end %>
    </div>


    <!-- 編輯表單（預設隱藏） -->
    <div class="edit-form" id="form-<%= @application.id %>">
      <%= form_with model: @application, local: true do |f| %>
        <%= f.fields_for :job do |job_fields| %>
          <div class="mb-4">
            <%= job_fields.label :position, class: "block mb-2" %>
            <%= job_fields.text_field :position, value: @application.job.position, class: "w-full" %>
          </div>

          <div class="mb-4">
            <%= job_fields.label :description, class: "block mb-2" %>
            <%= job_fields.text_area :description, value: @application.job.description, class: "w-full" %>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.label :status, class: "block mb-2" %>
          <%= f.select :status, ['Pending', 'Accepted', 'Rejected'], selected: @application.status, class: "w-full" %>
        </div>
        <%= f.submit "Save", class: "w-full px-4 py-2 mt-4 text-white bg-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50" %>
      <% end %>
    </div>

  </div>
<% end %>
