<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.7/easypiechart.min.js"></script>
</head>

<body>
  <div class="container">
    <%= render 'shared/navbar' %>

    <h2 style="font-size: 22px; font-weight: 600; margin-top: 24px; margin-bottom: 24px;">Dashboard</h2>

    <div class="panel">
      <div class="chart" data-percent="<%= @interview_percentage %>">
        <span class="percent"><%= @interview_percentage %>%</span>
        <div class="label">Interview</div>
      </div>

      <div class="chart" data-percent="<%= @rejected_percentage %>">
        <span class="percent"><%= @rejected_percentage %>%</span>
        <div class="label">Rejected</div>
      </div>

      <div class="chart" data-percent="<%= @accepted_percentage %>">
        <span class="percent"><%= @accepted_percentage %>%</span>
        <div class="label">Accepted</div>
      </div>
    </div>
  </div>

  <%= yield %>
  <%= render 'shared/tabbar' %>

  <script>
    document.addEventListener("turbo:load", () => {
      document.querySelectorAll('.chart').forEach(el => {
        new EasyPieChart(el, {
          scaleColor: false,
          lineWidth: 10,
          lineCap: 'round',
          barColor: '#FF4500',
          trackColor: '#f3f3f3',
          size: 120,
          animate: 1000
        });
      });
    });
  </script>

  </body>


  <style>
    .container {
      padding: 20px;
      max-width: 600px;
      margin: 0 auto;
    }

    .panel {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
      padding-top: 20px;
    }

    .chart {
      width: 120px;
      height: 120px;
      position: relative;
      text-align: center;
    }

    .chart canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .percent {
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
    }

    .label {
      margin-top: 8px;
      font-size: 14px;
      color: #555;
      text-align: center;
    }
  </style>
