<h2 class="text-[22px] font-bold mb-4 mt-4">Application Tracker 🤞</h2>

<div class="flex flex-col gap-4">
  <div class="bg-white p-2 rounded-lg shadow">
    <h3 class="text-lg font-bold text-center">Acceptance Rate</h3>

    <div class="relative flex justify-center items-center h-44">
      <div class="relative w-36 h-36">
        <div class="absolute inset-0">
          <svg class="w-full h-full" viewBox="0 0 36 36">
            <path
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
              fill="none"
              stroke="#E5E7EB"
              stroke-width="3"
            />
            <path
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
              fill="none"
              stroke="#45EDBD"
              stroke-width="3"
              stroke-dasharray="<%= @accepted_percentage %>, 100"
              class="progress-ring"
            />
          </svg>
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-3xl font-bold text-gray-700"><%= @accepted_percentage %>%</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-4 gap-6">
      <div class="flex items-center">
      </div>
      <div class="flex items-center">
      </div>
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow">
    <h3 class="text-lg font-bold text-center">Rejection Rate</h3>

    <div class="relative flex justify-center items-center h-44">
      <div class="relative w-36 h-36">
        <div class="absolute inset-0">
          <svg class="w-full h-full" viewBox="0 0 36 36">
            <path
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
              fill="none"
              stroke="#E5E7EB"
              stroke-width="3"
            />
            <path
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
              fill="none"
              stroke="#FF0000"
              stroke-width="3"
              stroke-dasharray="<%= @rejected_percentage %>, 100"
              class="progress-ring"
            />
          </svg>
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-3xl font-bold text-gray-700"><%= @rejected_percentage %>%</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-4 gap-6">
      <div class="flex items-center">
      </div>
      <div class="flex items-center">
      </div>
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow">
    <h3 class="text-lg font-bold text-center">Pending Rate</h3>

    <div class="relative flex justify-center items-center h-44">
      <div class="relative w-36 h-36">
        <div class="absolute inset-0">
          <svg class="w-full h-full" viewBox="0 0 36 36">
            <path
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
              fill="none"
              stroke="#E5E7EB"
              stroke-width="3"
            />
            <path
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
              fill="none"
              stroke="#FFA500"
              stroke-width="3"
              stroke-dasharray="<%= @pending_percentage %>, 100"
              class="progress-ring"
            />
          </svg>
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-3xl font-bold text-gray-700"><%= @pending_percentage %>%</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-4 gap-6">
      <div class="flex items-center">
      </div>
      <div class="flex items-center">
      </div>
    </div>
  </div>
</div>
