<!DOCTYPE html>
<html>
  <head>
    <title>NextStep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>
    <%= tag.link rel: "icon", href: image_url("app-icon-512.png"), type: "image/png" %>
    <%= tag.link rel: "apple-touch-icon", href: image_url("app-icon-512.png") %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-controller="loading">
    <div class="p-5 max-w-2xl mx-auto mb-[74px]">
      <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
    <%= render 'shared/tabbar' %>

    <div data-loading-target="screen" class="hidden fixed z-[9999] bg-white inset-0 flex justify-center items-center flex-col transition-opacity duration-400">
      <img src="<%= asset_path('app-icon-512.png') %>" alt="Logo" class="w-[120px] mb-5">
      <div class="w-10 h-10 border-4 border-[#FF4500] border-t-transparent rounded-full animate-spin"></div>
    </div>
  </body>
</html>
